/*Medium*/
@media screen and (max-width: 991px) {
.profilephotosm{
  align-content: center;
}

.card-sm{
  height: 10rem;
}

@media screen and (max-width: 768px) {
.profilephotosm{
  align-content: center;
}

.tophd{
  center: 80%;
}
.card-sm{
  height: 14rem;
}

.card-spacing{
  margin-top: 1rem;
}
